@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

.menu{
    background-color: #3359ec;

}
.navigator{
    list-style: none;
    display: flex;
    justify-content: center;
}
.navigator li{
    padding: 2rem;
}
.link{
    text-decoration: none;
    color: #fff;
}